:root {
  --verde: #03623A;
  --azul:#00C6FF;
  --azul-claro:#C0FAFF;
  --azul-oscuro: #467F8E;
  --blanco: #ffffff;
}

html,
body {
  margin: 0px;
  background-color: var(--verde);
}

header {
  text-align: center;
  background-color: var(--azul-oscuro);
  color: var(--blanco);
  padding: 20px;
  font-size: 25px;
}

.carta {
  position: relative;
  width: 150px;
  left: 100px;
  margin-left: -75px;
}

#computadora-cartas,
#jugador-cartas {
  height: 240px;
}